{% extends "base.html" %}
{% block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Event Registration</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.time.label(class="form-control-label") }}
                {% if form.time.errors %}
                {{ form.time(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.time.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.time(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.begin_date.label(class="form-control-label") }}
                {% if form.begin_date.errors %}
                {{ form.begin_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.begin_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.begin_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.end_date.label(class="form-control-label") }}
                {% if form.end_date.errors %}
                {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.status.label(class="form-control-label") }}
                {% if form.status.errors %}
                {{ form.status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.status.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.status(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.place_name.label(class="form-control-label") }}
                {% if form.place_name.errors %}
                {{ form.place_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.place_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.place_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                {{ form.address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.pincode.label(class="form-control-label") }}
                {% if form.pincode.errors %}
                {{ form.pincode(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.pincode.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.pincode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.city_name.label(class="form-control-label") }}
                {% if form.city_name.errors %}
                {{ form.city_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.state.label(class="form-control-label") }}
                {% if form.state.errors %}
                {{ form.state(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.state.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.state(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{%endblock %}